@import '../../Assets/styles/shared-styles.scss';
.table {
	border-collapse: collapse;
	width: 100%;
	margin-top: to-rem(40);
	td,
	th {
		border: 1px solid color(Gray);
		text-align: center;
		padding: to-rem(8);
	}

	tr:nth-child(even) {
		background-color: color(Gray);
	}
}
